// CommentsSection.scss

@use "../../styles/global" as *;

.comment-section p,
.comment-section h3 {
  text-align: left;
  // width: 100%;
}

.comment-section {
  @include margin;
  // @include display-flex(column, center, center);

  @include bp-tablet {
    gap: $padding-between-components-mobile;
    // padding: 0 $padding-between-components-tablet;
  }

  &__title {
    @include font-mobile-h2-subheader;
    color: $color-background-white;
    padding: $padding-between-components-mobile;
    text-align: center;
    // width: 100%;
    @include display-flex(column, center, center);
  }
}
