// styles/_colors.scss

// Primary Colors
$color-primary-InStock-Black: #13182c;
$color-primary-InStock-Blue: #2e66e5;
$color-primary-White: #ffffff;

// Secondary Colors
$color-secondary-slate: #5c667e;
$color-secondary-cloud: #bdc5d5;

// Background Colors
$color-background-graphite: #232940;
$color-background-light-grey: #f7f8f9;

// Supporting Colors
$color-supporting-green: #158463;
$color-supporting-red: #c94515;
