// ExpandedBookCard.scss

@use "../../styles/global" as *;

.expanded-book-card p,
.expanded-book-card h3 {
  text-align: left;
}

.expanded-book-card {
  @include card;
  @include display-flex(column, center, center);
  gap: $padding-between-components-mobile;

  &__icon {
    width: 60%;
    padding: 1.5rem 0 $padding-between-components-mobile 0;

    @include bp-tablet {
      width: auto;
    }
    // height: 4.375rem;
    // filter: invert(13%) sepia(50%) saturate(2927%) hue-rotate(184deg)
    //   brightness(94%) contrast(101%);
  }

  &__title-container {
    @include display-flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    width: 100%;
  }

  &__info-div {
    @include display-flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    padding: 0.1875rem 0;
  }

  &__subtitle {
    padding: 0.1875rem 0;

    &--new-line {
      width: 100%;
    }
  }

  &__description {
    width: 100%;
    overflow: hidden;

    @include bp-tablet {
    }

    @include bp-desktop {
    }
  }
}
