// CommentCard.scss

@use "../../styles/global" as *;

.comment-card p,
.comment-card h3 {
  text-align: left;
}

.comment-card {
  @include bp-tablet {
    width: 100%;
  }

  &__container {
    background-color: $color-primary-light;
    filter: drop-shadow(4px 4px 4px $color-primary-dark);
    margin-bottom: $padding-between-components-mobile;
    padding: $padding-between-components-mobile;
    @include display-flex(row, flex-start, space-between);
    flex-wrap: wrap;
    gap: $padding-between-components-half-mobile 0;
    @include bp-tablet {
      // width: 100%;
      // padding: $padding-between-components-tablet;
    }
  }

  &__username {
    width: 100%;
    @include font-mobile-labels-h4-table-header;
  }

  &__comment {
    width: 100%;
    @include font-mobile-p3-body-small;
  }

  &__page-number {
    @include font-mobile-p3-body-small;
  }

  &__timestamp {
    @include font-mobile-p3-body-small;
  }
}
