// SearchResultsPage.scss

@use "../../styles/global" as *;

.search-results-page {
  height: fit-content;
  padding-top: 7.8125rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(
    $color-primary-light,
    $color-secondary-light-blue
  );

  @include bp-tablet {
    padding-top: 5rem;
    padding-bottom: $padding-between-components-mobile;
  }
}

.page-title {
  // width: 100%;
  @include margin;
  // @include table-header;
  font-weight: 700;
  padding: $padding-between-components-half-mobile;
  text-align: left;
}
